#include "cirquei2ctest-layouts.dtsi"
#include <dt-bindings/zmk/matrix_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
    matrix_transform0: matrix_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <1>;
        rows = <1>;
        map = <
            RC(0,0)
        >;
    };
};

&physical_layout_cirquei2ctest {
    transform = <&matrix_transform0>;
};

// // Input devices
// / {
//     split_inputs {
//         #address-cells = <1>;
//         #size-cells = <0>;

//         input_split_unibody0: input_split_unibody0@0 {
//             compatible = "zmk,input-split";
//             reg = <0>;
//             status = "disabled";
//         };
//     };

//     input_listener_unibody0: input_listener_unibody0 {
//         compatible = "zmk,input-listener";
//         status = "disabled";
//         device = <&input_split_unibody0>;
//     };
// };


/ {
    input_processors {
        /* This processor translates scroll 'ticks' into volume keypresses */
        zip_scroll_to_volume: zip_scroll_to_volume {
            compatible = "zmk,input-processor-code-mapper";
            #input-processor-cells = <0>;
            type = <INPUT_EV_KEY>;
            map = <INPUT_BTN_DPAD_UP INPUT_KEY_VOLUMEUP>;
        };
    };

    input_listener_unibody0: input_listener_unibody0 {
        compatible = "zmk,input-listener";
        status = "disabled";
        device = <&input_split_unibody0>;
        scroller {
            layers = <0>;
            input-processors = <
                &zip_xy_scaler 1 32
                &zip_scroll_to_volume
            >;
        };

    };
};
