if SHIELD_CIRQUEI2CTEST

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "cirquei2ctest"

config ZMK_POINTING
    default y

config I2C
    default y if $(success,test -n "$(CONFIG_I2C)")
    # This tells Kconfig: "If I2C is already being handled by the board/PMIC, don't create a new dependency loop."

endif


